<div class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
    <li class="sidebar-item">
      <div class="sidebar-icon">
        <i class="bi bi-house"></i>
      </div>
      <div class="sidebar-title">
        Home
      </div>
    </li>
  </ul>
</div>
